body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

/**
 * For the location map
 */
.subunit-boundary {
  fill: none;
  stroke: #777;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

.background {
  fill: none;
  pointer-events: all;
}

.subunit { fill: #ddc; }
.subunit.BFR { fill: #cdd; }
.subunit.BWR { display: none}
.subunit.BCR { display: none; }
