body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.soortSelector {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #FAFAFA;
  text-align: center;
}

#heatmap { width: 600px; height: 300px; }

/**
 * For the location map
 */
.subunit-boundary {
  fill: none;
  stroke: #777;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

.background {
  fill: none;
  pointer-events: all;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
    stroke-width: 0;
}

.subunit { fill: #ddc; }
.subunit.BFR { fill: #cdd; }
.subunit.BWR { display: none}
.subunit.BCR { display: none; }
