{% extends "base.html" %}


{% block js %}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
{% endblock %}


{% block main %}
<div class= "row" id="soort_selector">
  <div class="col-md-12">
    <form action="" method="post">
      <select id="myselect" name="myselect">
        <option selected="selected">Kies vlindersoort</option>
      </select>
    </form>

    <script>
      $.ajax({
        url: 'http://' + window.location.host + '/data/soorten/',
        dataType: "json",
        contentType: "application/json",
        success: function(json) {
          $.each(json, function(i, value) {
            $('#myselect')
              .append($('<option value="'
                                   + value.naam_nl
                                   + '">')
              .text(value.naam_nl));
          });
        }
      });

	  function updateGraph(soort){
			drawLocations(soort);
      renderTimeline(soort);
			updateTimeGraph(soort, null, null);
	  }

	  //eventhandler ipv onchange, anders kan het zijn dat functies in externe .js files niet gevonden worden
	  $("#myselect").change(function(){
		updateGraph($(this).val());
	  });
    </script>
  </div>
</div>

<div class="row">
  <div class="col-xs-6" id="graph_location">
    <script src="/static/js/graph_locations.js"></script>
  </div>
</div>
{% endblock %}
